*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #0D1B2A;
}


#map { height: 350px; }
.contenedor-mapa{
    position: relative;
}
.btn-reporte{
    background-color:#378ADD ;
    position: absolute;
    top: 385px;
    right: 15px;
    z-index: 1000;
}
.btn-zoom{
    background-color:#378ADD ;
  position: absolute;
    top: 340px;
    right: 15px;
    z-index: 1000;  
}



.card-mapa{
    background-color: #1B2B3A;
}

.card-mapa p{
    color:#9AA5B1 ;
}