*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #0D1B2A;
}


#map { height: 350px; }
.contenedor-mapa{
    position: relative;
}
.btn-reporte{
    background-color:#032f5c ;
    position: absolute;
    top: 385px;
    right: 15px;
    z-index: 1000;
}
.btn-zoom{
    background-color:#032f5c ;
  position: absolute;
    top: 340px;
    right: 15px;
    z-index: 1000;  
}
.btn-reporte:hover{
    background-color: #022649 ;
}
.btn-zoom:hover{
    background-color: #022649 ;
}


.card-mapa{
    background-color: #1B2B3A;
}

.card-mapa p{
    color:#9AA5B1 ;
}

.textarea-reporte{
    border-radius: 15px;
    border: 2px solid #dee2e6;
    padding: 15px;
    font-size: 15px;
    resize: none;
    transition: .25s;
    box-shadow: none;
}

.textarea-reporte:focus{
    border-color: #dc3545;
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.2);
}

.textarea-reporte::placeholder{
    color: #9ca3af;
}

.btn-form{
    background-color: #022649;
    color:white ;
}
.btn-form:hover{
    background-color: #010b14;
    color:white ;
}